black==24.10.0
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.9
filelock==3.16.1
flake8==7.1.1
identify==2.6.3
idna==3.10
iniconfig==2.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.0.1
pycodestyle==2.12.1
pyflakes==3.2.0
pytest==8.3.3
PyYAML==6.0.2
requests==2.32.3
urllib3==2.2.3
virtualenv==20.28.0
selenium~=4.27.1
webdriver-manager~=4.0.2